<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/css">
        #aa{
            width: 450px;
            height: auto;
            margin: 0px auto;
            margin-top: 100px;
        }
    </script>
</head>
<body>
    <div id="aa">
        <h2>班级信息界面</h2>
        <table border="1">
            <tr>
                <td>班级编号</td>
                <td>班级名称</td>
                <td>班级人数</td>
            </tr>
            <tr th:each="c : ${classes}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.cname}"></td>
                <td th:text="${c.cnum}"></td>
            </tr>
        </table>
    </div>
</body>
</html>